@charset "UTF-8";

/*
    em HTMl é id = em CSS é #
    em HTML é Class = em CSS é .
*/    

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}
h1#principal {
    text-align: center;
}

h2 {
    color: rgb(73, 109, 71);
}